
{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <th>Part Title</th>
        <th>Part Number</th>
        <th>Part Category</th>
        <th>Part Project</th>
        <th>Part Colour</th>
    </tr>
{% for part in part_list %}
    <tr>
        <td>{{ part.part_title }}</td>
        <td>
            <a href='{% url "parts:part_detail" pk=part.pk %}'>{{ part.part_number }}</a>
        </td>
        <td>{{ part.part_category }}</td>
        <td>{{ part.part_project }}</td>
        <td>{{ part.part_colour }}</td>
    </tr>
{% endfor %}
</table>


{% endblock %}
