{% extends 'base.html' %}

{% block content %}



    <h2>{{ project.project_number }} {{ project.project_title }}</h2>
<div class="grid-container">

    <div class="grid-child">

        <table>
            <tr>
                <th>Part Number</th>
                <th>Part Title</th>
            </tr>
            {% for part in project.parts.all %}
            <tr>
                <td>
                    <a href='{% url "parts:part_detail" pk=part.pk %}'>{{ part.part_number }}</a>
                <td>
                    {{ part.part_title }}
                </td>
            </tr>
        {% endfor %}
        </table>

    </div>

    <div class="grid-child buttons">
        <a class="btn btn-primary" href="{% url 'parts:project_update' pk=project.pk %}" role="button">Update Project</a>
        <br>
        <a class="btn btn-primary" href="{% url 'parts:project_delete' pk=project.pk %}" role="button">Delete Project</a>
    </div>
</div>

{% endblock %}